
#contact{
    background-color: #f3f3f3;
}

.containerContact{
    display: flex;
    max-width: 768px;
    margin: auto;
    gap:32px
}
#contact h2{
    padding: 24px 16px;
    text-align: center;
    box-shadow: 1px 1px 8px #26262654;
    border-radius: 8px;
    background-color: white;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}



.mainEtReseaux{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    gap: 32px;
}
.mainEtReseaux img{
    order: 2;
    max-width: 360px;
    margin-right: 18px;
}

.logoContact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.logoContact i{
    color: #262626;
    font-size: 62px;
    width: 100%;
}

.logoContact i:hover{
    color: #262626ce;
}

@media(max-width:768px){
    .containerContact{
        flex-direction: column;
    }

    .mainEtReseaux{
        align-items: flex-start;
    }

    .logoContact{
        align-self: center;
    }

    .mainEtReseaux img{
        width: 60%;

    }

}