
#contact{
    background-color: white;
}

.containerContact{
    display: flex;
    margin: auto;
    gap:32px
}




.mainEtReseaux{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    gap: 32px;
}
.mainEtReseaux img{
    order: 2;
    max-width: 360px;
}

.logoContact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logoContactIco{
    width: 100px;
    transition: all 0.3s ease;
}

.logoContactIco:hover{
    opacity: 0.8;
}

.main{
    margin-right: 50px;
}



@media(max-width:992px){
    .mainEtReseaux{
        width: 40%;
    }

}
@media(max-width:768px){
    .main{
        margin: 0;
        width: 60%;
    }
    .mainEtReseaux{
        width: 100%;
    }
    .containerContact{
        flex-direction: column;
    }

    .mainEtReseaux{
        align-items: flex-start;
    }

    .logoContact{
        align-self: center;
    }

    .logoContact{
        width: auto;
    }

    .logoContactIco{
        width: 80px;
    }

}

@media(max-width:576px){
    .logoContactIco{
        width: 60px;
    }
    .logoContact{
        gap: 12px;
    }

}