footer{
    background-color:#262626 ;
    color: white;
    padding: 32px 0;
}

.containerFooter{
    display: flex;
    flex-direction: column;
    gap:24px;
}

.liensFooter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 12px;
    height: 24px;
}

.liensFooter a:hover{
    border-bottom: 1px solid white;
}

.liensFooter a {
    text-align: center;
}

.footerNom{
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
}