

.containerBg{
    background-color: #f3f3f3;
    padding: 110px 0;
}
.h3Grilles{
    max-width: 992px;
    margin: auto;
    margin-bottom: 32px;

}
.grilleProjets{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    row-gap: 48px;
    max-width: 992px;
    margin: auto;
}

.cardProjet{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    transition: all ease 0.3s;
}

.imgprojet img{
    width: 100%;
    border-radius: 8px;
}

.cardProjet .imgprojet img{
    bottom: 0px;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: 1px 1px 8px #26262654;
}
.cardProjet:hover .imgprojet img{
    bottom: 8px;
    box-shadow: 1px 1px 20px #2626268e;
}

.cardProjet .titreProjet{
    transition: all 0.3s ease;
}
.cardProjet:hover .titreProjet{
    transform: scale(1.1);

}


.titreProjet{
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    padding: 24px 0;
    text-align: center;
}


@media(max-width:992px){
    
}
@media(max-width:768px){
    .containerBg{
        padding: 60px 0;
    }
    .grilleProjets{
        gap:24px;
        row-gap: 36px;
    }
    
}
@media(max-width:576px){
    
    .containerBg{
        padding: 32px 0;
    }

    .grilleProjets{
        gap:12px;
        grid-template-columns: repeat(2,1fr);
        row-gap: 24px;
    }

    .titreProjet{
        font-size: 16px;
    }
    
}