.hero{
    /* background-color: rgb(248, 206, 213); */
    display: flex;
    justify-content: space-between;
    
}


.containerHero{
    display: flex;
    gap: 24px;
    margin: auto;
    min-height: 425px;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 110px;
}

.bio{
    flex:2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.containerMe{
    flex: 2;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    /* height: 75vh; */
    min-height: 334px;
}

.containerMe img{
    width: 400px;
    object-fit: contain;
}

@media(min-width:1400px){
    .containerMe img{
        width:500px;
    }
}



@media(max-width:992px){

    .containerMe img{
        width: 320px;
    }
    .bio{
        max-width: 100%;
    }
}

@media(max-width:768px){
    
    .containerHero {  
        flex-direction: column;
        justify-content: space-between;
        margin-top:0 ;
    }

    .bio{
        max-width: 100%;
    }

    .containerMe{
        order: 1;
        min-height: auto;
        padding: 32px;
    }

    .containerMe img{
        width: 400px;
    }


    .bio{
        order: 2;
    }

}

@media(max-width:576px){
    .containerHero{
        gap: 0;
        margin-bottom: 70px;

    }

    .containerMe{
        order:1;
        justify-content: center;
        width: 100%;
        padding: 24px;
    }

    .containerMe img{
        width: 100%;
    }


    .bio{
        order: 2;
        gap: 16px;
    }

    .bio p, .bio h1{
        width: 100%;
        max-width: 100%;
    }
   


}


