.hero{
    /* background-color: rgb(248, 206, 213); */
    /* padding-top: 70px; */
    display: flex;
    justify-content: space-between;
    
}

.containerHero{
    display: flex;
    /* background-color: grey; */
    /* max-height: 80vh; */
    gap: 24px;
    margin: auto;
    min-height: 425px;    
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.bio{
    flex:2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-width: 400px;
}

.containerMe{
    flex: 2;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75vh;
    min-height: 334px;
}

.containerMe img{
    width: 75%;
    object-fit: contain;
}

@media(max-width:992px){
    .containerHero{
        padding-top: 0;
        margin-top: 0px;
    }

    .containerMe{
        height: 70vh
    }

    .containerMe img{
        width: 100%;
    }
    .bio{
        max-width: 100%;
    }
}

@media(max-width:768px){
    
    .containerHero {
        min-height: auto;     
        margin: 30px 0;
        flex-direction: column;
        justify-content: space-between;
    }
    .bio{
        max-width: 100%;
    }
    .containerMe{
        order: 1;
        min-height: auto;

    }
    .bio{
        order: 2;
    }

}

@media(max-width:576px){
    .containerHero{
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        gap: 0;
        padding-bottom: 32px;
    }

    .containerMe{
        order:1;
        justify-content: center;
        width: 100%;
    }


    .bio{
        order: 2;
        gap: 16px;
    }

    .bio p, .bio h1{
        width: 100%;
        max-width: 100%;
    }



}


