#quiSuisJe{
    max-width: 1400px;
    margin: auto;
    background-color: white;
}

.containerQuiSuiJe{
    display: flex;
    gap : 42px;
    align-items: flex-start;
}

#quiSuisJe h2{
    padding: 24px 16px;
    text-align: center;
    box-shadow: 1px 1px 8px #26262654;
    border-radius: 8px;
    width: 100%;
    margin: 0;
    margin-bottom: 36px;
}




#quiSuisJe .sectionQuiSuisJe{
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 2;
    /* margin-top:48px; */
}

#texteCache{
    display: flex;
    flex-direction: column;
    gap:24px;
    display:none;

}

a#lienRetracter, a#lienLireSuite {
    color: #26262683;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: fit-content;
    transition: all 0.3s ease;
}
a#lienRetracter:hover, a#lienLireSuite:hover {
    color: #262626a2;
    
}
#lienRetracter .material-symbols-outlined{
    margin-left: 3px;
    margin-bottom: 2px;
}

#quiSuisJe .containerFigma{
    flex: 1;
}

.cv{
    width: 100%;
    background-color:#26262638;
    border-radius: 8px;
    /* border: 1px solid #26262638; */
    box-shadow: 0 0 0 1px #2626268a;
    cursor: pointer;
    max-width: 650px;
    transition: all 0.3s;
}

.cv:hover{
    box-shadow: 0 0 0 2px #262626cf;
    transform: scale(1.01);

}

.containerFigma{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.containerFigma .fichierCV{
    width: 100%;
    display: none;
    text-align: center;
}




.fullscreen{
    width:min-content;
    height: 90%;
    margin: auto;
}


@media(max-width:992px){
    .containerQuiSuiJe{
        flex-direction: column;
        align-items: center;
    }

    #quiSuisJe .sectionQuiSuisJe{
        margin-top: 0;
    }

    .containerFigma .fichierCV{
        display: block;
    }

    .descriptionCv{
        display: none;
    }
    .containerQuiSuiJe{
        gap: 32px;
    }
    #quiSuisJe h2{
        margin-bottom: 44px;
    }

}

@media(max-width:768px){
    #quiSuisJe h2{
        margin-bottom: 36px;
    }
    
}

@media(max-width:576px){

    #quiSuisJe .sectionQuiSuisJe{
        gap: 16px;
    }
    .containerQuiSuiJe{
        gap: 32px;
    }

    #quiSuisJe h2{
        margin-bottom: 16px;
    }

    a#lienRetracter, a#lienLireSuite{
        font-size: 12px;
    }
    #lienRetracter .material-symbols-outlined{
        font-size: 16px;
    }

}


