.precedent{
    max-width: 992px;
    margin: auto;

}
.flechePrecedent{
    display: flex;
    gap: 8px;
    padding: 12px 0;
    padding-top: 24px;
    max-width: 200px;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;

}

.containerSlider{
    margin: auto;
    width: 100%;
    padding: 0 32px;
    padding-bottom: 90px;
    background-color: #e4e4e4;
}

.containerS{
    max-width: 768px;
    margin: auto;
    color:#262626;
    display: flex;
    flex-direction: column;
    gap: 24px;
    

}

.containerW{
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.carroussetCTA{
    display: flex;
    gap: 24px;
}

/* Links description*/


.descriptionW{
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.descriptionW .technique{
    font-weight: 600;
    opacity:0.7;
}



.descritionEtLien{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

}

.links{
    width: 100%;
    display: flex;
    white-space: nowrap;
    gap: 12px;
    font-size: 16px;
    flex-wrap: wrap;
    
}

.links p{
    margin-bottom: 0;
    line-height: 30px;
}


.containerSlider .buttonIcon{
    border:1px solid #262626 ;
    background-color: rgba(255, 255, 255, 0);
    color: #262626;
    font-weight: 600;
    gap: 12px;
    transition: all ease 0.5s;
    padding-left:18px;
}

.containerSlider .buttonIcon:hover{
    background-color:#cecece;
}

.containerSlider .buttonIcon img{
    height: 30px;
}

.containerSlider .buttonFigma{
    padding-left: 12px;
}
.containerSlider .buttonIcon i{
    height: 28px;
    font-size: 26px;
    line-height: 30px;
}

/* Carrousel */

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color:#262626;
    padding: 16px;
    border: 8px #262626 solid;
}

.indicateur{
    background-color: #26262694;
    padding: 8px 0;
    border-radius: 50px;
}






/* .carrouselControlPerso{
    top:0;
    bottom:0;
} */

/* accordion-button */

/* .accordion-button-style{
    padding: 16px 0px;
    padding-right:16px;
    background-color:none;
    font-size: 24px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.accordion-button-style:focus{
    background-color:#ffffff;
    box-shadow: none;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.accordion-button-style:not(.collapsed){
    background-color: white;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    color:#262626;
}

.accordion-button-style:active{
    background-color:white;

}

.accordion-body-style{
    padding: 16px 0;
} */




@media(max-width:992px){
    .carrouselAll {
        width: 100%;
    }

    .carroussetCTA{
        flex-direction: column;
    }
    .descritionEtLien{
        width: 100%;
    }
}

@media(max-width:576px){

    .links{
        flex-direction: column;
        width: 100%;
        
    }

    .links a{
        width: 100%;
    }

    .containerSlider{
        padding: 0 12px;
        padding-bottom: 96px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        padding: 16px;
        border: 3px #262626 solid;
    }

    .carousel-indicators{
        padding: 3px 0;
        border-radius: 50px;
    }
}
