.containerW{
    /* background-color: royalblue; */
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.carroussetCTA{
    display: flex;
    gap: 24px;
}








/* Links description*/


.titreAudessus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    background-color:#262626;
    padding: 12px 32px;
    color: white;
    border-radius: 8px;
    
    
}
.titreAudessus p{
    max-width: 400px;
}
p.description {
    font-size: 16px;
}


.descriptionW span{
    font-weight: 600;
}


.descritionEtLien{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

}

.links{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    
}

.links p{
    margin-bottom: 0;
    line-height: 30px;
}

.linksIcones{
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #262626;
    padding: 8px 16px;
    border-radius: 50px;
    width: 100%;
}

.voirSite{
    color: #ffffff;
    background-color: #262626;
    transition: all ease 0.5s;
}

.voirSite:hover{
    background-color: rgb(43, 43, 43);
}

.voirCode{
    font-weight: 600;
    padding-left: 12px;
    transition: all ease 0.5s;
}

.voirCode:hover{
    background-color:#e6e6e6;
}

.voirMaquette{

    font-weight: 600;
    padding-left: 12px;
    transition: all ease 0.5s;
}

.voirMaquette:hover{ 
    background-color:#e6e6e6;
}


.linksIcones img{
    height: 30px;
}
.linksIcones i{
    height: 30px;
    font-size: 28px;
    line-height: 30px;
}

/* Carrousel */


.carrouselAll{
    width: 65%;
}

/* .carrouselControlPerso{
    top:0;
    bottom:0;
} */

/* accordion-button */

.accordion-button-style{
    padding: 16px 0px;
    padding-right:16px;
    background-color:none;
    font-size: 24px;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.accordion-button-style:focus{
    background-color:#ffffff;
    box-shadow: none;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
}

.accordion-button-style:not(.collapsed){
    background-color: white;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    color:#262626;
}

.accordion-button-style:active{
    background-color:white;

}

.accordion-body-style{
    padding: 16px 0;
}




@media(max-width:992px){
    .carrouselAll {
        width: 100%;
        order: 1;
    }

    .carroussetCTA{
        flex-direction: column;
    }
    .descritionEtLien{
        width: 100%;
        order: 2;
    }
    .links{
        flex-direction: row;
    }

}

@media(max-width:576px){

    .titreAudessus{
        flex-direction: column;
        align-items: start;
        gap: 16px;
        padding: 12px 18px;

    }
    .links{
        flex-direction: column;
        
    }
}
