


.containerSlider {
    display:flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    margin: auto;
    width: 100%;
    padding: 0 32px;
    padding-bottom: 90px;
    max-width: 1080px;
}

.containerS {
    flex:1;
}


.precedent{
    max-width: 1200px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.flechePrecedent{
    display: flex;
    gap: 8px;
    padding: 18px 0;
    max-width: 160px;
    font-size: 12px;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    left: 0px;
    transition: all ease-in-out 0.3s;
}

.flechePrecedent:hover{
    left: -8px;
    font-weight: 600;
}

a.flechePrecedent {
    color : #262626
}


.containerS{
    max-width: 1200px;
    margin: auto;
    color:#262626;
    display: flex;
    flex-direction: column;
    gap: 60px;
    

}


.carroussetCTA{
    display: flex;
    gap: 24px;
}


/* Links description*/


.descriptionW{
    display: flex;
    gap: 24px;
}

.titreDescription{
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    border-radius: 8px;
    flex:2;
}

.containerDescription{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 24px 0;
}

.descriptionW h1{
    text-align: center;
}

.descriptionW .technique{
    font-weight: 300;
    opacity:0.8;
    text-align: center;
    font-size: 20px;
}





.descritionEtLien{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

}

.links{
    width: 100%;
    display: flex;
    white-space: nowrap;
    gap: 12px;
    font-size: 16px;
    flex-wrap: wrap;
    
}

.links p{
    margin-bottom: 0;
    line-height: 30px;
}


.containerSlider .buttonIcon{
    border:1px solid #262626 ;
    background-color: rgba(255, 255, 255, 0);
    color: #262626;
    font-weight: 600;
    gap: 12px;
    transition: all ease 0.5s;
    padding-left:18px;
}


.containerSlider .buttonIcon:hover{
    background-color:#cecece;
}

.containerSlider .buttonIcon img{
    height: 30px;
}

.containerSlider .buttonFigma{
    padding-left: 12px;
}
.containerSlider .buttonIcon i{
    height: 28px;
    font-size: 26px;
    line-height: 30px;
}



/* IFRAME */

iframe#projetIframe{
    width: 100%;
    height :700px;
    border-radius: 8px;
    box-shadow: 1px 1px 8px #26262654;
    background-color: white;
}

@media(min-width:1400px){
    .containerSlider {
        max-width: 1400px;
        
    }
}


@media(max-width:992px){

    .descriptionW{
        flex-direction: column;
        gap: 60px;
    }

    .containerDescription{
        margin: 0;
    }
    .carrouselAll {
        width: 100%;
    }

    .carroussetCTA{
        flex-direction: column;
    }
    .descritionEtLien{
        width: 100%;
    }
    .titreDescription .technique{
        font-size: 16px;
    }
}

@media(max-width:576px){
    iframe#projetIframe{
        height: 540px;
    }

    .titreDescription{
        margin-bottom: 12px;
    }
    .titreDescription .technique{
        font-size: 16px;
    }
    .carroussetCTA{
        padding: 0 16px;
    }

    .links{
        flex-direction: column;
        width: 100%;
        
    }

    .links a{
        width: 100%;
    }

    .containerSlider{
        padding: 0 12px;
        padding-bottom: 96px;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        padding: 16px;
        border: 3px #262626 solid;
    }

    .carousel-indicators{
        padding: 3px 0;
        border-radius: 50px;
    }

    .descriptionW{
        gap: 16px;
    }

    .containerS{
        gap : 32px;    }
}
