
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@600&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    color: #262626;
}


.fausseNav{
    height: 70px;
    width: 100%;
    background-color: rgb(179, 179, 179);
}




h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    margin-bottom: 0;
}

h2{
    text-align: center;
    /* margin: 90px 0; */
}



a{
    text-decoration: none;
    color: #262626;
}



/* Padding / Container / mise en page */

.navbar{
    z-index: 10;
}


.header, .hero, .containerGlobal{
    padding: 0 32px;
    max-width: 1400px;
    margin: auto;
}


h2{
    margin-bottom: 90px;
}
.containerW{
    margin-bottom: 110px;
}

.accordion-button-style{
    margin-bottom: 32px;
}


.containerHero{
    margin: 110px 0;
}

/* Boutons */


.buttonPerso{
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #262626;
    padding: 8px 32px;
    border-radius: 50px;
    background-color: #262626;
    color: white;
    transition: all ease 0.3s;
    width:fit-content;
}

.buttonPerso:hover{
    background-color: #3b3b3b;
}




p{
    margin-bottom: 0;
}







@media(max-width:992px){
    .navbar, .hero, .partTime{
        padding: 0 32px;
    }
}


@media(max-width:768px){

    h2{
        margin-bottom: 60px;
    }
    .containerW{
        margin-bottom: 60px;
    }
    
    .containerHero{
        margin: 80px 0;
    }

}


@media(max-width:576px){
    .navbar, .hero, .partTime, .containerGlobal{
        padding: 0 12px;
    }
    h2 {
        padding: 0;
        margin: 0;
        padding-bottom: 32px;        
    }

}


